/* %%%%%%%%%%%%%%%%%%%%% BASIC ELEMENTS %%%%%%%%%%%%%%%%%%%% */
body{
    margin: 0 5% 0 5%;
    background-size: cover;
    font-family: sans-serif;
    height: 100%;
}

html {
    height: 100%;
}

#container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 200px;
    margin-top: -200px;
    padding-top: 200px;
}

footer{
    clear: both;
    background-color: #D80000;
    margin: -100px -4em 0em -4em;
    padding: 0.5em 2em 0.5em 2em;
    height: 200px;
    position: relative;
}

header{
    overflow: auto;
    margin-left: -4em;
    margin-right: -4em;
    padding-right: 2em;
    padding-left: 2em;
    background-color: #D80000;
    padding-top: .3em;
}

p{
    padding: 1em 0 1em 0;
}

footer p {
    font-size: 0.5em;
    background-color: #D80000;
    text-align: center;
    margin-top: 10em;
}

section{
    padding: 2em;
    width: 40%;  
}


fieldset {
    border: none;
}

img {
    width: 11em;
    height: 5em;
    margin-left: 1.5em;
    padding-bottom: .3em;
    padding-top: .3em;
}

/*------------------------   footer section only   ------------------------------ */

#footer-list {
    text-align: center;
}

#footer-list > li {
    display: inline-block;
    list-style-type: none;
    padding-right: 4em;
    padding-left: 4em;
}

#footer-list li {
    list-style-type: none;
    text-align: left;
}

#footer-list li ul: {
    margin-bottom: 1em;
}

.footer-list-titles {
    margin-bottom: 1em;
}

/*------------------------   classes           ------------------------------ */

.float_right {
    float: right;
    margin-left: 1em;
}

.float_left {
    float: left;
    margin: 1em 1em 1em 0;
    padding: 0.5em;
}

.small {
    width: 150px;
}

.errors {
    color: red;
    list-style-type: none;
}

/*------------------------   header section only  ------------------------------ */

header h1 {
    float: left;
    font-family: Pacifico;
    color: white;
}

nav {
    float: right;
    margin-top: 1.15em;
}

/*------------------------   nav section only  ------------------------------ */

nav ol li{
    display: inline-block;
    list-style-type: none;
    padding-right: 2em;
    margin-right: 2em;
}

nav ol li a {
    text-decoration: none;
    color: white;
}

nav ol li a:hover {
    color: black;
}

/*------------------------   index page  only  ------------------------------ */

/*------------------------   register page  only  ------------------------------ */
#register-form input, select {
    margin-bottom: 1em;
    font-size: 12pt;
    border-radius: 2px;
    border-style: solid;
    border: thin solid gray;
    font-family: ;
}

#register h2 {
    text-align: center;
}

#register-form input {
    width: 200px;
}

#register-form #comment {
    width: 500px;
    height: 200px;
    vertical-align: text-top;
}

#register-form #btnSubmit {
    width: 75px;
}


