/* %%%%%%%%%%%%%%%%%%%%% BASIC ELEMENTS %%%%%%%%%%%%%%%%%%%% */
body{
    margin: 0 5% 0 5%;
    background-size: cover;
    font-family: sans-serif;
    height: 100%;
}

html {
    height: 100%;
}

#container {
    min-height: 100%;
    overflow: auto;
    margin-left: -4em;
    margin-right: -4em;
}

#main {
    overflow: auto;
    padding-bottom: 200px;
    margin-top: -200px;
    padding-top: 200px;
}

footer{
    clear: both;
    background-color: #D80000;
    margin: -100px -4em 0em -4em;
    padding: 0.5em 2em 0.5em 2em;
    height: 200px;
    position: relative;
}

header{
    overflow: auto;
    margin-left: -4em;
    margin-right: -4em;
    padding-right: 2em;
    padding-left: 2em;
    background-color: #D80000;
    padding-top: .3em;
}

footer p {
    font-size: 0.5em;
    background-color: #D80000;
    text-align: center;
    margin-top: 10em;
    padding: 1em 0 1em 0;
}

section{
    padding: 2em;
    width: 40%;  
}


fieldset {
    border: none;
}

/*------------------------   footer section only   ------------------------------ */

#footer-list {
    text-align: center;
}

#footer-list > li {
    display: inline-block;
    list-style-type: none;
    padding-right: 3%;
    padding-left: 3%;
}

#footer-list li {
    list-style-type: none;
    text-align: left;
}

#footer-list li ul: {
    margin-bottom: 1em;
}

.footer-list-titles {
    margin-bottom: 1em;
}

/*------------------------   classes           ------------------------------ */

.float_right {
    float: right;
    margin-left: 1em;
}

.float_left {
    float: left;
    margin: 1em 1em 1em 0;
    padding: 0.5em;
}

.small {
    width: 150px;
}

.errors {
    color: red;
    list-style-type: none;
}

.user-view {
    height: 500px;
}

.desc-title {
    font-weight: bold;
    border-bottom: solid #D80000;
    color: #D80000;
    margin-bottom: -0.5em;
}

.coming-soon {
    margin-left: 100px;
}

/*------------------------   header section only  ------------------------------ */

header h1 {
    float: left;
    font-family: Pacifico;
    color: white;
}

nav {
    float: right;
    margin-top: 1.15em;
}

#ontap-logo {
    height: 5em;
}

/*------------------------   nav section only  ------------------------------ */

nav ol li{
    display: inline-block;
    list-style-type: none;
    padding-right: 2em;
    margin-right: 2em;
}

nav ol li a {
    text-decoration: none;
    color: white;
}

nav ol li a:hover {
    color: black;
}

/*------------------------   index page  only  ------------------------------ */

#home-upper-section {
    height: 400px;
    padding-left: 4em;
    padding-right: 4em;
    background-image: url('crowded-bar.png');
}

#find-your-spot {
    height: 120px;
    margin-top: 2em;
}

#ontap-app-icon {
    height: 5em;
    margin-bottom: 0.5em;
}

#home-page-app-download {
    border-radius: 5px;
    align-self: right;
    text-align: center;
    float: right;
    border: thick solid #D80000;
    padding: 0.5em;
    margin-top: 1em;
}

#home-page-app-download h4 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#features {
    text-align: center;
    align-items: center;
    display: table;
}

#home-bar-info-img {
    margin-left: 0.5em;
}

#home-bar-cam-img {
    margin-right: 0.5em;
}

.features-desc {
    overflow-wrap: all;
    width: 200px;
    float: left;
    text-align: center;
    font-weight: bold;
    color: #D80000;
}

#home-features-desc-1 {
    margin-top: 275px;
    float: left;
    clear: all;
    text-align: left;
    margin-left: 75px;
}

#home-features-desc-2 {
    float: right;
    clear: all;
    margin-top: 450px;
    text-align: left;
    width: 250px;
    margin-right: 25px;
}

#home-feat-desc-3 {
    float: left;
    clear: all;
    margin-top: 175px;
}

.info-titles {
    height: 75px;
    padding-right: 50px;
    padding-left: 50px;
    border-bottom: solid #D80000;
    margin-bottom: 4em;
    margin-top: 3em;
}

#features-center {

    align-items: center;
    text-align: center;
    width: 49%;
    float: left;
}

#features-left, #features-right {
    width: 25%;
    float: left;
}

#left-side-features {
    list-style-type: none;
}

/*------------------------   register page  only  ------------------------------ */
#register-form input, select {
    margin-bottom: 1em;
    font-size: 12pt;
    border-radius: 2px;
    border-style: solid;
    border: thin solid gray;
}

#register-steps {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 10em;
}

.long-input {
    width: 200px;
}

.phone {
    width: 32px;
    margin-bottom: 0;
}

#line-num {
    width: 41px;
    margin-bottom: 0;
}

#register-form #comment {
    width: 500px;
    height: 200px;
    vertical-align: top;
}

#register-form #btnSubmit {
    width: 75px;
}

#register #download-app {
    float: right;
}

#register #ontapadmin-logo {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: auto;
}

#center-logo {
    text-align: center;
    background-color: #FFCCCB;
    overflow: auto;
    margin-left: -4em;
    margin-right: -4em;
}

#full-phone-num {
    margin-top: 0em;
    margin-bottom: -1em;
}

#admin-features-section-1 {
    background-color: #E5E5E5;
    display: table;
    text-align: center;
    width: 100%;
    padding-bottom: 5em;
}

#admin-features-left {
    float: left;
    width: 25%;
}

#admin-features-center {
    float: left;
    width: 50%;
}

#admin-features-right {
    float: left;
    width: 25%;
}

#admin-app-thumbnail {
    height: 8em;
}

.app-store-download {
    height: 3em;
}

#admin-features-desc-1 {
    width: 250px;
    margin-top: 250px;
    margin-left: 50px;
    text-align: left;
}

.admin-features-desc {
    overflow-wrap: all;
    float: left;
    text-align: left;
    font-weight: bold;
    color: #D80000;
}

#admin-features-desc-2 {
    width: 250px;
    margin-top: 400px;
    margin-right: 50px;
    text-align: left;
}

#admin-features-section-2 h1 {
    color: #D80000;
    margin-left: 150px;
    border-bottom: solid #D80000;
    width: 550px;
}

#push-noti-desc {
    color: #D80000;
    margin-left: 150px;
    width: 550px;
}

#admin-features-section-3 h1 {
    color: #D80000;
    margin-left: 150px;
    border-bottom: solid #D80000;
    width: 550px;
}

#admin-features-section-3 {
    background-color: #E5E5E5;
    display: table;
    text-align: center;
    width: 100%;
    padding-bottom: 5em;
}

#about-admin-section {
    width: 100%;
    text-align: center;
    padding-right: 25%;
    padding-left: 25%;
    margin-top: 3em;
    margin-bottom: 3em;
    color: #D80000;
}

#about-admin-section h4, h2 {
    width: 50%;

}

#admin-nav {
    width: 35%;
    padding-right: 2em;
    text-align: center;
    margin-left: 27.5%;
}

#admin-nav li {
    display: inline-block;
    list-style-type: none;
    padding-right: 1em;
    padding-left: 1em;
}

/* -------------------------- Privacy Policy Page Only --------------------------- */
#privacy-policy {
    overflow-wrap: all;
    text-align: left;
}

#privacy-policy h1, #privacy-policy h3, #privacy-policy p {
    width: 75%;
    margin-left: 4em;
}

#privacy-policy h1 {
    margin-left: 2em;
    margin-top: 2em;
}

#privacy-policy h3 {
    margin-left: 3.5em;
}




